{
    "ZWSID": "",
    "neighborhood": "Great Neck, NY",
    "sort": "days",
    "filters": {
        "price_min": 0,
        "price_max": 0,
        "rent_min": 0,
        "rent_max": 0,
        "beds": "-1",
        "baths": 0,
        "sqft_min": 0,
        "sqft_max": 0
    }
}